body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #f4f4f4;
    }.navbar-brand {
  font-weight: bold;
  color: white !important;
}

.hero {
  
}

.hero h1 {
  font-size: 4rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  color: #9384f5;
  z-index:2;
  filter:none !important;
}

.section-title {
  color: #9ad06d;
}

#about {
  background-color:#291b40;
  color: white;
}

#menu {
  background-color:#18143d;
  color:white;
}

#contact {
  background-color:#18143d;
  color:white;
}
    #pricing {
  background-color:#291b40;
  color: white;
    }
    
.card {
  border: solid 2px #9ad06d;
  transition: transform 0.3s ease;
  background-color:#291b40;
  color:white;
  
}
.card-title {
   color: #740ee8;
}

.card:hover{
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(116, 14, 232, 0.9);
  background-color: #18143d;
}

footer {
  background-color: #6f42c1;
  color: white;
  padding: 20px 0;
}
.logo {
      max-width: 150px;
      margin-bottom: 20px;
      border-radius: 100px;
      border: solid 5px #9ad06d;
    }
/* Shooting Star Animation */
  .star-twinkle{
  position: absolute;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  
}

.star {
  position: absolute;
  background: purple;
  border-radius: 50%;
  opacity: 0;
  animation: twinkle 1s infinite ease-in-out;
}

  
    @keyframes twinkle {
      0% {
        transform: scale(0.9) rotate(-45deg);
        opacity: 0.3;
      }
      50% {
        transform: scale(1) rotate(45deg);
        opacity: 1;
      }
      100% {
        transform: scale(0.9) rotate(-45deg);
        opacity: 0.3;
      }
    }
    .parallax-bg{
     background: url('https://github.com/user-attachments/assets/af6c555d-45b2-469e-adc2-1871237891bc') no-repeat center center;
      background-size: cover;
      background-attachment: fixed;
      height: 100vh;
      color: #9ad06d;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      position: relative;
      overflow: hidden;
      background-color: rgba(255, 255, 255, 0.4);

  -webkit-backdrop-filter: blur(5px);

  backdrop-filter: blur(5px);
      z-index: -1;
    }
    .bg-purple{
     background-color: #6f42c1;
  }
    .parallax-content{
      
    }
  .text-white{ 
    color:white;
  }

